<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta property="ogdescription" content="">
    <meta property="ogsite_name" content="">
    <meta property="ogtitle" content="">
    <meta property="ogtype" content="website">
    <meta property="ogurl" content="">

    <meta name="twittercard" content="summary">
    <meta name="twittersite" content="">
    <meta name="twittertitle" content="">
    <meta name="twitterdescription" content="">
    <meta name="twitterdomain" content="">

    <!-- Favicons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="" sizes="120x120">

    <!-- Stylesheets -->
    <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <main id="Main">
