{{> header title='Handlebars + Gulp Boilerplate'}}

<div class="inner">
  <div class="row">
    <div class="wrapper five columns">
      <h2 class="title"><a href="http://jamigibbs.com">Handlebars + Gulp Boilerplate</a></h2>
    </div>
  </div>
</div>

{{> footer}}
